main {
  width: 100%;
  background-image: url("../../public/HD-wallpaper-black-texture-black-design-fine-texture-thumbnail.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
  align-items: center;
}
.product-container {
  margin-top: 80px;
  width: 50vw;
  border-radius: 4%;
  background-color: #f9f9f9;
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
.product-container > h3 {
  color: red;
}
.product-container > h4 {
  color: rgb(47, 47, 47);
  font-size: 30px;
}
.product-container > p {
  width: 40vw;
  font-size: 18px;
  text-align: center;
}
.first-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
.first-section > img {
  width: 400px;
  border: #000000 2px solid;
  border-radius: 3%;
  background-color: #b3b3b3;
}
.group > h3 {
  font-size: 20px;
  color: #c03939;
}
.group > h4 {
  font-size: 20px;
  color: #4d4d4d;
}

/* ////////////////////////////////////////////////// */
.reviews {
  margin: 20px;
  width: 40vw;
  background-color: #ddd;
  padding: 0% 40px;
  border-radius: 5%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.reviews > h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 40px;
}

.review {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}
.hr {
  width: 100%;
  background-color: #000000;
  height: 0.1px;
}
.review > h3 {
  font-size: 33px;
}
.review > p {
  font-size: 13px;
}
.review > .reviewer {
  color: #444444;
  font-size: 25px;
}

.rating-group {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rating-group > label {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.rating-group > .rating {
  color: #c03939;
  font-size: 18px;
  font-weight: bold;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 100%;
  padding: 10px 60px 90px 10px;
  border-radius: 20px;
  border: 1px solid #dbdfd0;
  background-color: #fff;
  font-family: inherit;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 35vw;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.Loading {
  color: rgb(131, 131, 131);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  padding: 40vh;
}

.not-loggedin {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
